<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
	<!-- header -->
	<div th:fragment="header" class="header">
		<div class="links">
		 <th:block th:if="${session.mDto == null}">
            <a th:href="@{loginForm}">로그인</a>
            <a th:href="@{joinForm}">회원가입</a>
        </th:block>
        <!-- 세션에 mDto가 있으면 (로그인된 경우) -->
        <th:block th:if="${session.mDto != null}">
            <li th:text="${session.mDto.m_id + '님'}"></li>
            <li><a th:href="@{logout}">로그아웃</a></li>
        </th:block>
	</div>
	</div>
	<div th:fragment="footer" class="footer">
</body>
</html>